DATABASE_URL="postgresql://investigation:investigation@localhost:5432/investigation?schema=public"

HUGGINGFACE_API_KEY=
HUGGINGFACE_MODEL=

// for sending the pdfs (stem server)
EMAIL_USER=""
EMAIL_PASS=""

# Demo session secret (change in production)
SESSION_SECRET=change-me-in-production

RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
PRIVATE_KEY=
CONTRACT_ADDRESS=0x1074d4d3975dCC53185994fb8E1718AdDeBDa8ec
